{%extends "layout.html"%}
{%block content%}

<main role="main" class="container">

    <div class="d-flex flex-column align-items-center">
    <h2>About Brine.Cloud</h2>
    <div class="p-2">
        <p class="lead">The porpose of this website is to share free financial information and data </p>
    </div>
    <div class="p-2">
        <p class="lead">All source coded of this project is free and OPEN-SOURCE you are welcome to use, copy or study this code </p>
    </div>
    <div class="p-2">
        <p class="lead">Content-Aggregator --> <a href="https://github.com/DrSuperMario/SIGNAL-Scraper.git">SIGNAL-Scraper</a> </p>
    </div>
    <div class="p-2">
        <p class="lead">Code for the website --> <a href="https://github.com/DrSuperMario/BrineNewsAPI.git">BrineNews</a></p>
    </div>
    <div class="p-2">
        <p class="lead">Code for the API --> <a href="https://github.com/DrSuperMario/Brine.git">BrineNewsAPI</a> </p>
    </div>
    </div>
    
  </main>

{%endblock%}