{%extends "layout.html"%}
{%block content%}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Open-Source Fintech</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Mollitia praesentium nihil architecto amet eveniet excepturi perspiciatis tempora doloremque iste laborum totam, 
        autem dolorum dolorem vero pariatur illo et quas ipsa!</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
{%endblock%}