{%extends "layout.html"%}
{%block content%}

<main role="main" class="container">

  <div class="bottom-container-area">
  <h1>Free source for all market and financial releated data</h1>
  <p class="lead">
    The purpose of this project is to share and make available all data 
    from news sources and from different markets. 
    This project is completely built as an open-source project and 
    all of the project's source code is available on my GitHub pages. 
    see <a href="/about">about</a>
  </p>
  </div>
  
</main>

{%endblock%}