<!DOCTYPE html>
<html>
  <head>
      <title>Brine</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Fredericka the Great' rel='stylesheet'>
  </head>
  <body>
    <div class="container">
      <div class="Upper-area">
        <h1>Brine</h1>
      </div>
      <div class="Middle-area">
         <p>lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Perferendis esse et animi vitae, iure quasi voluptate! Dolores ex reiciendis 
          perspiciatis corporis aspernatur, blanditiis impedit nulla rerum, dolore cumque 
          non inventore?
        </p>
      </div>
      <div class="Lower-area">
        <h3>Bottom area</h3>
      
      </div>
    </div>
  </body>
</html>