{%extends "layout.html"%}
{%block content%}

<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-3 col-sm-2">
            <small class="text-left font-weight-bold">start date </small>
        </div>
        <div class="col-4 col-sm-4">
            <small class="text-left font-weight-bold">end date</small>
        </div>
    </div>
    <div class="d-flex flex-column align-items-start">
        <form method="POST" class="form-inline my-2 my-md-0 pl-5">
            <input id="search_field" name="search_field" class="form-control" type="text" placeholder="Ticker" aria-label="Search">
            <input id="search_field_start" name="search_field_start" class="form-control" type="date" value="{% if date_f %}{{ date_f }}{% else %}2020-11-11{% endif %}" min="2019-01-01" max="{{ date_e }}" placeholder="Start date..." aria-label="Start date.." required     pattern="\d{4}-\d{2}-\d{2}">
            <input id="search_field_end" name="search_field_end" class="form-control" type="date" value="{% if date_e %}{{ date_e }}{% endif %}" min="2019-01-01" max="{{ date_e }}" placeholder="end date..." aria-label="end date.." required pattern="\d{4}-\d{2}-\d{2}">
            <input id="search_ticker_button" type="submit" name="search_button" class="btn btn-dark" value="Search...">
          </form>
    </div>
    <div class="d-flex flex-column align-items-center">
        {% if form %}
            {{ plot | safe }}
            {{ form | safe }}
        {% else %}  
    </div>  
        <div class="d-flex flex-column align-items-center p-4">
                <h2>Search ticker</h2> 
                <p class="lead"> Search specific stock price from a start to end date</p>
            </div> 
        {% endif %}
        {% if search_button %}
            <h2> {{search_field}}</h2>
        {% endif %}
    </div>
    {% if download_button_s %}
        <div class="d-flex flex-column align-items-start">
            <form method="POST" class="form-inline my-2 my-md-0 pl-5">
                <input id="download_button" name="download_button" class="btn btn-dark" type="submit" placeholder="Downlaod data as CSV" value="Downlaod data as CSV">
            </form>
        
        </div>   

    {% endif %} 
    {% if info %}
        <div class="bottom-container-area">
            <h1>Ticker Description:</h1>
            <p class="lead">{{info | safe}}</p>
        </div>
    {% else %}
        <div class="bottom-container-area">
            <h1>Search a ticker and get an answer....</h1>
        </div>
    {% endif %}

</main>

{%endblock%}