{%extends "layout.html"%}
{%block content%}

<main role="main" class="container">

    <div class="align-content-start">
        {{ form | safe}}
    </div>

        
    <div class="bottom-container-area">
        <h1>Here comes the News and Signals</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
        Culpa vero ipsa ullam optio veritatis, quae est, minus ab molestiae doloremque <br>
        modi dolore laboriosam error impedit omnis fuga. Rerum, aperiam corporis!.<.</p>
    </div>
    
</main>

{%endblock%}