{%extends "layout.html"%}
{%block content%}

<main role="main" class="container">
    <div class="d-flex flex-column align-items-center">
        <small class="text-muted">start date ,end date</small>
    </div>
    <div class="d-flex flex-column align-items-start">
        <form method="POST" class="form-inline my-2 my-md-0 pl-5">
            <input id="search_field" name="search_field" class="form-control" type="text" placeholder="Ticker" aria-label="Search">
            <input id="search_field_start" name="search_field_start" class="form-control" type="date" value="{{ date }}" min="2019-01-01" max="{{ date }}" placeholder="Start date..." aria-label="Start date..">
            <input id="search_field_end" name="search_field_end" class="form-control" type="date" value="{{ date }}" min="2019-01-01" max="{{ date }}" placeholder="end date..." aria-label="end date..">
            <input id="search_ticker_button" type="submit" name="search_button" class="btn btn-dark" value="Search...">
          </form>
    </div>
    <div class="d-flex flex-column align-items-center">
        {% if form %}
            {{ form | safe }}
        {% else %}  
    </div>  
        <div class="d-flex flex-column align-items-center p-4">
                <h2>Search ticker</h2> 
                <p class="lead"> Search specific stock price from a start to end date</p>
            </div> 
        {% endif %}
        {% if search_button %}
            <h2> {{search_field}}</h2>
        {% endif %}
    </div>
    <div class="d-flex flex-column align-items-start">
        <form method="POST" class="form-inline my-2 my-md-0 pl-5">
            <input id="download_button" name="download_button" class="btn btn-dark" type="submit" placeholder="Downlaod data as CSV" value="Downlaod data as CSV ">
        </form>
    </div>    
        
    <div class="bottom-container-area">
        <h1>Here comes the News and Signals</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
        Culpa vero ipsa ullam optio veritatis, quae est, minus ab molestiae doloremque <br>
        modi dolore laboriosam error impedit omnis fuga. Rerum, aperiam corporis!.<.</p>
    </div>
    
</main>

{%endblock%}