{%extends "layout.html"%}
{%block content%}

<main role="main" class="container">
            <div class="row justify-content-center">
                <div class="col-4">      
                    <code>Ticker name and short descp</code>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">                    
                    <form method="POST" class="form-inline my-2 my-md-0 pl-5">  
                    <input type="text" placeholder="Ticker"/>
                    <input type="text" placeholder="Description"/>
                </div>      
            </div>
            <div class="row justify-content-center">
                <div class="col-4">      
                    <code>Date:</code>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4"> 
                    <input type="date" placeholder="Ticker"/>
                    <input type="date" placeholder="Ticker"/>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">  
                    <input type="button" value="SEnd Me To Hell" placeholder="Submit"/>
                </div>
            </div> 
        </div>       
        

    <div class="bottom-container-area">
    <h1>Free source for all market and financial releated data</h1>
    <p class="lead">
      The purpose for this projects is to share and make avilable
      all data from news sources and from diffrent markets. This projects
      is completly built as an open-source project and all of the projects 
      sourcecode is avilable in my github pages. see <a href="/about">about</a>
    </p>
    </div>
    
  </main>

{%endblock%}